<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AI Based Object Recognition</title>
  </head>
  <body>
    <h1> AI Object Recognition </h1>
    <h2> Please input your picture of the model below </h2>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <h3> Select image to upload (This may take a while): </h3>
          <input type="file" name="file" id="file">
          <input type="submit" value="Upload Image" name="submit">
      </form>
    <p> This is a web-application put together by Samad Rizvi and Moiz Rizvi for the Passion Project. </p>
  </body>

</html>
